<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChessCore unittests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ChessCore-dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ChessCore-static.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ChessCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ccore.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A10FD9D615753A790009BC1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A13A6EF416559E2700F341C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A181815F16EB702B00CCBC24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A18438BE17A2EE5B00A0A219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1924B59157552780006AA78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1E661821575F2F400ED9F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
